html {
    --bg-color: #03071E;
    --text-color: #03071E;
    --orange-color: #DC2F02;
    --light-orange-color: #F48C06;
    --yellow-color: #FFBA08;
    --brown-color: #370617;
    background-color: var(--bg-color);
  }

  * {
    box-sizing: border-box;
  }
  
  .App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .heading {
    color: var(--orange-color);
    padding-top: 1em;
    font-size: 4em;
  }
  
  .teams-container {
    display: flex;
    justify-content: space-around;
  }
  
  .team {
    color: var(--yellow-color);
    background-color: var(--brown-color);
    display: flex;
    width: 50%;
    max-width: 400px;
    justify-content: center;
    flex-direction: column;
    border: 2px solid var(--yellow-color);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
  }
  
  .score {
    margin-top: 0;
    font-size: 1.5em;
  }
  
  .button-container {
    display: flex;
    justify-content: space-around;
  }
  
  button {
    display: flex;
    width: auto;
    justify-content: center;
    cursor: pointer;
    font-size: 1em;
  }
  
  .grid-container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    gap: 20px;
    grid-auto-rows: minmax(100px, auto);
  }
  
  @media (min-width: 800px) {
    .grid-container {
      grid-template-columns: repeat(6, 1fr);
    }
  
    .item {
      font-size: 1.75em;
    }
  }
  
  .item {
    color: var(--text-color);
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    cursor: pointer;
    background-color: var(--light-orange-color);
  }
  
  .item:hover {
    background-color: var(--yellow-color);
  }
  