html {
    --bg-color: #03071E;
    --text-color: #03071E;
    --white-color: #E9EFFF;
    /*--light-orange-color: #F48C06;*/
    --light-orange-color: #D2A517;
    --yellow-color: #FFBA08;
    /*--team-color: #2f3453;*/
    --team-color: #30354A;
    background-color: var(--bg-color);
  }

  * {
    box-sizing: border-box;
  }
  
  .App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .heading {
    color: var(--white-color);
    font-size: 4em;
  }
  
  .teams-container {
    display: flex;
    justify-content: space-around;
    margin: 5em;
  }
  
  .team {
    color: var(--white-color);
    background-color: var(--team-color);
    display: flex;
    width: 50%;
    max-width: 300px;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    margin: 5px;
    padding: 2em;
  }

  h2 {
    font-size: 2em;
    margin: 0;
    padding-bottom: .5em;
  }
  
  .score {
    margin-top: 0;
    font-size: 1.5em;
  }
  
  .button-container {
    display: flex;
    justify-content: space-around;
  }
  
  button {
    display: flex;
    width: auto;
    justify-content: center;
    cursor: pointer;
    font-size: 1em;
    border: 2px solid var(--white-color);
    border-radius: 5px;
    background: var(--light-orange-color);
  }

  button:hover {
    background-color: var(--yellow-color);
  }
  
  .grid-container {
    padding: 3em;
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    gap: 20px;
    grid-auto-rows: minmax(100px, auto);
  }
  
  @media (min-width: 800px) {
    .grid-container {
      grid-template-columns: repeat(6, 1fr);
    }
  
    .item {
      font-size: 1.75em;
    }
  }
  
  .item {
    color: var(--text-color);
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    cursor: pointer;
    background-color: var(--light-orange-color);
  }
  
  .item:hover {
    background-color: var(--yellow-color);
  }
  